.form {
  margin-top: 50px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 25px;
  text-align: center;
  align-items: center;
}

.inputIn {
  display: inline-flex;
  text-align: center;
  min-width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  /* background-color: gray; */

  height: 30px;
}
.raiting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
