.form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-width: 600px;
  padding: 25px;
  text-align: center;
}

.inputIn {
  display: inline-flex;
  text-align: center;
}

.btnAdd {
  background-color: green;
}
.btnAdd:hover {
  transform: scale(1.3);
}

.btnAuth:hover {
  transform: scale(1.3);
}
