.form {
  margin-top: 50px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  align-items: center;
}

.inputIn {
  display: inline-flex;
  text-align: center;
  min-width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.btn {
  width: 100px;
  height: 30px;
  background-color: gray;
  align-items: baseline;
}
.red {
  background-color: red;
  width: 100px;
  height: 30px;
}

.yellow {
  background-color: yellow;
  width: 100px;
  height: 30px;
}
.green {
  background-color: green;
  width: 100px;
  height: 30px;
}

.raiting {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonIcon {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}
.icon {
  cursor: pointer;
  margin-left: -60px;
  opacity: 50%;
  z-index: 2;
}
